Facebook, stop censorship NOW ! <br />
Позор современным Шариковым !

<br /> <br />

<button id="myButton" class="float-left submit-button" >Click here to get to where facebook doesn't like you to go !</button>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "https://lamerkhav.wordpress.com/";
    };
</script>

